<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.7.0/dist/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <form method="POST" action="{% url 'insert' %}">
      {% csrf_token %}
      <div class="mb-3">
        <label for="id_name" class="form-label">Name:</label>
        <input type="text" name="studentname" class="form-control" id="id_name" required>
      </div>
      <div class="mb-3">
        <label for="id_email" class="form-label">Email:</label>
        <input type="email" name="email" class="form-control" id="id_email" required>
      </div>
      <div class="mb-3">
        <label for="id_password" class="form-label">Password:</label>
        <input type="password" name="password" class="form-control" id="id_password" required>
      </div>
      <div class="mb-3">
        <label for="id_staffid" class="form-label">Staff ID:</label>
        <select name="staffid" class="form-select" id="id_staffid" required>
          {% for staff in staff_objects %}
          <option value="{{ staff.id }}">{{ staff.name }}</option>
          {% endfor %}
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.7.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>